@font-face {
    font-family:'myFont';
    src: url(OptimusPrinceps.ttf);
}



body {
    margin:0;
}

.header {
    display:flex;
    background:#1b1a17;
    justify-content:space-between;
    padding:0px 50px;
    align-items:center;

}

a {
    text-decoration:none;
    color:#F4EFDE;
    margin-right:20px;
    font-family:'myFont';
    font-size:30px;
}

.logo {
    height:100px;
    width:150px;
}

.second {
    display:flex;
    justify-content:space-around;
    gap:20px;
    background-color:#695442;
    padding:50px;
}

.title {
    font-size:36px;
    font-weight:900;
}

.text-side {
    width:350px;
    font-family:'myFont';
    color:#1b1a17;
}

.subtext {
    font-size:18px;
}

.button {
    background-color:#a78a6d;
    font-size:20px;
    border-radius:5px;
    font-family:'myFont';
}


.image-side {
    height:200px;
    width:356px;
    border-radius:5px;
    border:2px solid #1b1a17;
}

.info {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:30px;
    padding-bottom:30px;
    gap:40px;
    background:#a78a6d;
}

.info-title {
    font-size:30px;
    font-weight:900;
    font-family:'myFont';
    color:#1b1a17;
}

.elements {
    display:flex;
    gap:100px;
}

.names {
    width:150px;
    font-family:'myFont';
    text-align:center;
    color:#1b1a17;
}

.Nito {
    height:150px;
    width:150px;
    border-radius:5px;
    border:5px solid #1b1a17;
}

.quote-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:100px;
    padding-bottom:100px;
    background:#1b1a17;
    color:#f4efde;
}

.quote {
    font-family:'myFont';
    font-size:36px;
    
    width:900px;
}

.quoter {
    font-weight:900;
    font-family:'myFont';
    width:900px;
    text-align:end;
    font-size:25px;
}

.start-container {
    display:flex;
    justify-content:center;
    padding:100px;
    align-items:center;
    background:#f4efde;
}

.start {
    display:flex;
    background:#38322b;
    align-items:center;
    gap:200px;
    padding:20px;
    border-radius:10px;
    font-family:'myFont';
    color:	#a78a6d;
}

.start-intro {
    font-weight:900;
    font-size:30px;
}

.start-soustext {
    font-size:20px;
}

.start-button {
    font-size:20px;
    color:	#a78a6d;
}
